body{
    margin: 0px;
    background-color: black;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}

hr{
    border-style: none;
    height: 0px;
    width: 50%;
    border-top: 2px dashed;
    margin: 20px auto;
}

img{
padding-top: 10px;
padding-bottom: 10px;
}

a:link{
    color: white;
}
a:visited{
    color: grey;
}
a:hover{
    color: red;
}

.walkthroughs{
    text-align: left;
    padding-left: 30px;
}

.botcontainer{
    padding: 20px;
}

